{% extends "base.html" %}

{% block body_content %}
<h1>YOUR CREDENTIALS</h1>
<form action="/GetChangeHistoryOfaGivenUser" method="POST">
    <div class="form-row">
        <label for="pole1">USERNAME:</label>
        <input type="text" id="username" name="username">
    </div>

    <div class="form-row">
        <label for="pole2">PASSWORD:</label>
        <input type="password" id="password" name="password">
    </div>

    <h1>SEARCHED USER</h1>
    <div class="form-row">
        <label for="pole3">USERNAME:</label>
        <input type="text" id="searched_user" name="searched_user">
    </div>

    <input type="submit" value="SEARCH">
    <div id="preloader" style="display: none;">
</div>
</form>

{% if username and password and searched_user %}
    <p>Otrzymano dane: {{ username }}, {{ password }}, {{ searched_user }}</p>
{% endif %}

<style>
    .form-row {
        margin-bottom: 25px;
    }

    label {
        display: inline-block;
        width: 120px;
    }

    input[type="text"], input[type="password"] {
        padding: 5px;
        width: 200px;
        font-family: inherit;
        font-size: 16px;
        box-sizing: border-box;
    }

    #preloader {
        background: #ffffff url("{{ url_for('static', filename='loader.gif') }}") no-repeat center center;
        position: fixed;
        top: 0;
        left : 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
</style>
<script>
document.querySelector('form').addEventListener('submit', function () {
    document.getElementById('preloader').style.display = 'flex';
});
</script>
{% endblock %}
