{% extends "base.html" %}

{% block body_content %}
<form action="/GetUserByPhoneNumber" method="POST">
    
    <h1>SEARCHED NUMBER</h1>
    
    <div class="form-row">
        <label for="phone_number">PHONE NUMBER:</label>
        <input type="text" id="phone_number" name="phone_number">
    </div>

    <input type="submit" value="SEARCH">
    <div id="preloader" style="display: none;">
</div>
</form>

<div style="margin-top: 50px;"></div>
{% if result %}
    <h2>USER:</h2>
    <p>{{ result['users'] }}</p>
{% endif %}

<style>
    .form-row {
        margin-bottom: 25px;
    }

    label {
        display: inline-block;
        width: 180px;
    }

    input[type="text"], input[type="password"] {
        padding: 5px;
        width: 200px;
        font-family: inherit;
        font-size: 16px;
        box-sizing: border-box;
    }
    #preloader {
        background: #ffffff url(static/loader.gif) no-repeat center center;
        position: fixed;
        top: 0;
        left : 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
}
</style>
<script>
document.querySelector('form').addEventListener('submit', function () {
    document.getElementById('preloader').style.display = 'flex';
});
</script>
{% endblock %}
