{% extends "base.html" %}

{% block body_content %}

<form action="/PullMembersOfAgroup" method="POST">

    <h1>SEARCHED GROUP</h1>
    <div class="form-row">
        <label for="pole3">GROUP NAME:</label>
        <input type="text" id="group_name" name="group_name">
    </div>

    <input type="submit" value="SEARCH">
    <div id="preloader" style="display: none;"></div>
</form>

{% if username and password and group_name %}
    <p>Otrzymano dane: {{ username }}, {{ password }}, {{ group_name }}</p>
{% endif %}
{% if result %}
    <ul>
    {% for user in result['users'] %}
        <li>{{ user }}</li>
    {% endfor %}
    </ul>
{% endif %}

<style>
    .form-row {
        margin-bottom: 25px;
    }

    label {
        display: inline-block;
        width: 180px;
    }

    input[type="text"], input[type="password"] {
        padding: 5px;
        width: 200px;
        font-family: inherit;
        font-size: 16px;
        box-sizing: border-box;
    }

    #preloader {
        background: #ffffff url("{{ url_for('static', filename='loader.gif') }}") no-repeat center center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
</style>
<script>
document.querySelector('form').addEventListener('submit', function () {
    document.getElementById('preloader').style.display = 'flex';
});
</script>
{% endblock %}
